<%= provide(:title,session[:name]) %>   

<%=form_tag({ :controller => 'studentmanagement', :action => 'search_result' },
{id: :mannaka,class: "form-inline"}) do %>
<div class="form-group">
<%= text_field_tag 'keyword', '', placeholder: "学生番号", class: "form-control" %>
<%= text_field_tag 'keyword', '', placeholder: "科目名", class: "form-control" %>
<%= text_field_tag '', '', placeholder: "評価", class: "form-control" %>
<%= submit_tag( "登録",class: 'btn btn-primary' ) %> 
</div>
<% end %>   

