<%= form_for(bulletinboard) do |form| %>
  <% if bulletinboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulletinboard.errors.count, "error") %> prohibited this bulletinboard from being saved:</h2>
      <ul>
      <% bulletinboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.hidden_field :student_id, value: session[:usr]%> 
  </div>
    <div class="row">
      <div class="col-xs-2">
        <%= form.text_field :nickname, id: :bulletinboard_nickname ,class:'form-control',placeholder: 'ニックネーム'%>
      </div>
    </div>
    <div class="col-xs-4">
      <%= form.label :messagecontent %>
      <%= form.text_area :messagecontent, id: :bulletinboard_messagecontent,class:'test' %>
    </div>

  <div class="form-group col-xs-4"">
    <%= form.label :nickname %>
    <%= form.text_field :nickname, id: :bulletinboard_nickname ,class:'form-control'%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<textarea class='demo'>高さを調節するtextarea要素</textarea>


