<div class = "container">
	<div class="wrapper">
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			  <hr class="colorgraph"><br>
				<%=form_tag({ :controller => 'login', :action => 'auth' },{id: :Login_Form,class: "form-signin"}) do %>
        			<%= label_tag :studentid, "学生番号" %>
					<%= text_field :studentid,'', class:'page_name',placeholder:'学生番号',required:"",autofocus:"" %> 
					<br>
        			<%= label_tag :password , "パスワード" %>
        			<%= password_field_tag :password,'', class:'page_name',placeholder:'パスワード',required:"",autofocus:"" %>
					<br>
					<%= submit_tag( "検索",class: 'btn btn-primary' ) %> 
				<% end %>
				<%= link_to "生徒登録画面", :controller => "login_test", :action => "index" %>
				<%= link_to "教師登録画面", :controller => "login_test", :action => "teachers_new" %>
				<%= link_to "教師側のログインはこちら", :controller => "login", :action => "teacher" %>	
				<hr class="colorgraph"><br>
		  
		</form>			
	</div>
</div>