<div class = "container">
	<div class="wrapper">
		    <h3 class="form-signin-heading"> Sign In</h3>
			  <hr class="colorgraph"><br>
				<%=form_tag({ :controller => 'login', :action => 'auth' },{id: :Login_Form,class: "form-signin"}) do %>
        			<%= label_tag :studentid, "学生番号" %>
					<%= text_field :studentid,'', class:'page_name',placeholder:'学生番号',required:"",autofocus:"" %> 
					<br>
        			<%= label_tag :password , "パスワード" %>
        			<%= password_field_tag :password,'', class:'page_name',placeholder:'パスワード',required:"",autofocus:"" %>
					<br>
					<%= submit_tag( "ログイン",class: 'btn btn-primary' ) %> 
				<% end %>
				<div class="linktag">
                	<%= link_to "教師側のログインはこちら", :controller => "login", :action => "teacher" ,class: ""%>
           		</div>         

				<hr class="colorgraph"><br>
		  
		</form>			
	</div>
</div>

