
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>Compact - SampleView</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="wrapper" class="toggled">
    <!-- Sidebar -->

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand"><%= link_to  yield(:title), mypage_top_path %></li>
            <li><%= link_to '学生情報管理', studentmanagement_index_path %></li>
            <li><%= link_to '成績登録', student_timetable_path %></li>
            <li><%= link_to "学生連絡登録", student_info_path %></li>
        </ul>
    </div>
</div>
<%= yield %>
        <button type="button" class="btn btn-default">Default</button>

</body>
</html>
